.appBar {
    display: flex !important;
    flex-direction: row !important;
    border-radius: 15px;
    margin: 30px 0 !important;
    justify-content: center !important;
    align-items: center !important;
}

.heading {
    color: rgba(0,183,255, 1);
    text-decoration: none;
}

.image {
    margin-left: 15px;
}

@media (max-width: 600px) {
    .mainContain {
        /* display: flex; */
        flex-direction: column-reverse !important;
        
    }
}