.pagination  {
    border-radius: 4% !important;
    margin-top: 1rem !important;
    padding: 16px !important;
}

.appBarSearch {
    border-radius: 4;
    margin-bottom: 1rem;
    display: flex;
    padding: 16px;
}