.root {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.root .MuiTextField-root {
    margin: 8px;
}

.paper {
  padding: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.buttonSubmit {
  margin-bottom: 10px !important;
}
